/* Site CSS */
body {
    font-family: 'Raleway', sans-serif;
}

@media (max-width: @screen-xs) {
    body{font-size: 8px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 12px;}
}

h1, h2, h3, .nav-item {
    text-transform: uppercase;
}

#myTabContent {
    margin-top: 1em;
}