<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Raleway&display=swap" rel="stylesheet">
    <link href="/static/css/site.css" rel='stylesheet' type='text/css'>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
</head>

<body>
    <div class='container'>
        <div class="tophat">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="/static/img/Netapp_logo.svg" height="30" class="d-inline-block align-top" alt=""> Faces
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent">
                            <a class="nav-link active" id="upload-tab" data-toggle="tab" href="#upload" role="tab" aria-controls="upload" aria-selected="true">
                                <i class="material-icons">photo_camera</i> Upload new photo
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent">
                            <a class="nav-link" id="existing-tab" data-toggle="tab" href="#existing" role="tab" aria-controls="existing" aria-selected="false">
                                <i class="material-icons">photo_library</i> Existing photos
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent">
                            <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">
                                <i class="material-icons">info</i> About
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                <div class='container'>
                    <h2>Upload new file</h2>
                    <form action='/upload' enctype='multipart/form-data' id='upload' method='post'>
                        <input accept='image/*' capture='camera' id="imageselector" name="file" type='file' class="d-none">
                        <i class="material-icons" id="photoclicker" onclick="$('#imageselector').trigger('click'); return false;">face</i>
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" id="preview" alt="preview" class="img-thumbnail d-none" onclick="$('#imageselector').trigger('click'); return false;">
                        <p class="instructions">Click image to select new photo.<span class="FIXME" id="rotation"></span></p>
                        <button type="button" class="btn btn-primary d-none" id="submitbutton">Upload</button>
                        <div class="spinner-border text-primary d-none" id="uploadspinner" role="status">
                            <span class="sr-only">Uploading...</span>
                        </div>
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Error!</h4>
                            <p>Something went wrong uploading your image. Try again!</p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade" id="existing" role="tabpanel" aria-labelledby="existing-tab">
                <div class='container'>
                    <h2>Existing files</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Date</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody id="files">
                            <tr>
                                <td>20190612-143428.jpg</td>
                                <td>2019-06-12 12:34:42 UTC</td>
                                <td>1.2 MB</td>
                            </tr>
                            <tr>
                                <td>20190612-145252.jpg</td>
                                <td>2019-06-12 12:53:08 UTC</td>
                                <td>1.5 MB</td>
                            </tr>
                            <tr>
                                <td>20190612-145359.jpg</td>
                                <td>2019-06-12 12:55:25 UTC</td>
                                <td>2.7 MB</td>
                            </tr>
                            <tr>
                                <td>20190717-231753.jpg</td>
                                <td>2019-07-17 21:18:06 UTC</td>
                                <td>1.2 MB</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id='nomore'>No more results.</div>
                    <div class="spinner-border" role="status" id="loader">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="container">
                    <h1>About this page</h1>
                    <p>This is a demo app...</p>
                </div>
            </div>
        </div>

        {% if infopanel %}
        <div class="containter" id="infopanel">
            <p>{{ infopanel }}</p>
        </div>
        {% endif %}


        <div class='modal fade' id='versions-modal' role='dialog'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button class='close' data-dismiss='modal' type='button'>&times;</button>
                        <h4 class='modal-title'>Object Versions and Metadata</h4>
                    </div>
                    <div class='modal-body'>
                        <div class='row'>
                            <div class='col-xs-12' id='image'></div>
                        </div>
                        <table class='table table-condensed'>
                            <thead>
                                <tr>
                                    <th class='col-s-8'>Metadata</th>
                                    <th class='col-s-4'>Value</th>
                                    <tbody id='metadata'></tbody>
                                </tr>
                            </thead>
                        </table>
                        <table class='table table-condensed'>
                            <thead>
                                <tr>
                                    <th class='col-s-8'>Date</th>
                                    <th class='col-s-3'>Size</th>
                                    <th class='col-s-1'>Action</th>
                                    <tbody id='versions'></tbody>
                                </tr>
                            </thead>
                        </table>
                        <div class="spinner-border" role="status" id="versionloader">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script src="/static/js/script.js"></script>

</body>

</html>