/* Site CSS */

@media (max-width: 575.98px) {
    table {
        font-size: 0.8em;
    }
}

body {
    font-family: 'Raleway', sans-serif;
}

.instructions {
    font-size: 1.2em;
}

h1,
h2,
h3,
.tophat {
    text-transform: uppercase;
}

.nav-link .material-icons {
    vertical-align: middle;
}

#photoclicker {
    font-size: 20rem;
    text-align: center;
}

#myTabContent {
    margin-top: 1em;
}

#upload,
#existing,
#about {
    text-align: center;
}

.alert {
    display: inline-block;
}

.imagedesat {
    filter: none;
    -webkit-filter: grayscale(65%);
    -moz-filter: grayscale(65%);
    -ms-filter: grayscale(65%);
    -o-filter: grayscale(65%);
    transition: all 600ms ease;
}

#selfieloading,
#metaloading {
    text-align: center;
}

#appinfo {
    display: none;
}

.imagerow {
    cursor: pointer;
}